body {
    min-width: 330px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.current {
    color: rgb(234, 239, 190);
    font-size: 1.2em;
}

#nav_menu > li > a, #nav_menu > li > a > i {
    font-size: 0.9rem;
}

#mobile_menu > li > a {
    color: white;
}

.modal {
    max-height: 100%;
    
    min-width: 250px;
}
.card-content {
    height: 100%;
    overflow: visible;
}

.card_mw {
    max-width: 280px;
}
.align-middle {
    text-align: center;
}