body {
    min-width: 330px;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}

.current {
    color: rgb(234, 239, 190);
    font-size: 1.2em;
}

.brand-logo > img {
    max-width: 250px;
}
#nav_menu > li > a, #nav_menu > li > a > i {
    font-size: 0.9rem;
}

#mobile_menu > li > a {
    color: white;
}

.modal {
    max-height: 100%;
    
    min-width: 250px;
}
.card-content {
    height: 100%;
    overflow: visible;
}

.card_mw {
    max-width: 280px;
}
.align-middle {
    text-align: center;
}

.secondary-content {
    color: #268d00;
    font-size: 1.5em;
}

.collection-item {
    display: flex;
    flex-direction: column;
  }

.card {
    flex-grow: 1;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer.page-footer {
    /* margin: 0; */
    margin-top: auto;
}

.page-footer {
    margin-top: auto;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
  
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }

@media (max-width: 476px) {                  
    .hide_it {
        display: none;
    }
 }