<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block styles %}
    {% endblock %}
    <title>Milestone Project</title>
</head>
<body>
	<header>
        <h1>HEADER - in base.html</h1>
        <!-- navigation bar -->
	</header>

    <main class="container">
        <h2>MAIN container in base.html</h2>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <h2>FOOTER inside base.html</h2>
    </footer>
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>