{% extends "base.html" %}

{% block title %}Commence Shift Reports - Restaurant Manager{% endblock %}

{% block content %}

<div class="container col s12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="flash_msg" class="row">
        <div class="col s12">
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span class="title">Message:</span>
                    <p>
                        {{ message }}
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    


    {% if cs_reports != None %}
        <div class="row">
            <div class="col s12">
                <h5 class="brand-logo col s12 center">
                     Commence Shift Records
                </h5>
            </div>
        </div>
        <table class="responsive-table striped">
            <thead>
                <!-- SEE THIS FOR CHECKBOXES IN TABLE:https://www.oracle.com/webfolder/technetwork/jet-920/jetCookbook.html?component=selector&demo=checkboxSelectableTable -->
                <!-- USE THE THREE VIEW BY DATE to list result by the date they were submitted -->
                <tr>
                    <th>Date / Time</th>
                    <th>RP</th>
                    <th>Task Type</th>
                </tr>
            </thead>
            <tbody>
                {% for csr in cs_reports %}
                <tr>
                    <td>{{ csr['t_ts_submit'] }}</td>
                    <td>{{ csr['t_rp_un'].title() }}</td>
                    <td>{{ csr['t_name'].title() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No reports found!</h3>
    {% endif %}


</div>

{% endblock %}

{% block javascript %}

<script>
    $('#tasks').toggleClass('current');
</script>
{% endblock %}