{% extends "base.html" %}

{% block title %}Commence Shift Form - Restaurant Manager{% endblock %}

{% block content %}

<div class="container col s12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="flash_msg" class="row">
        <div class="col s12">
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span class="title">Message:</span>
                    <p>
                        {{ message }}
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col s12">
            <h5 class="brand-logo col s12 center">
                Commence Shift Daily Tasks Checks
            </h5>
        </div>
    </div>
    <!-- [Materialize Register Page Sample base source code](https://codepen.io/HaldunA/pen/eJxRPG) -->
    {% if dt != None %}
        <form class="col s12" method="POST" action="{{ url_for('commence_shift_form') }}">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <p>{{ dt['t_name'] }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>{{ dt['t_description'] }}</p>
                        </div>
                    </div>
                    {% for d_task in dt %}
                        <div class="row">
                            <div class="input-field col s8">
                                <p>Tasks Type: <strong>{{ d_task['t_name'] }}</strong> </p>
                            </div>
                        </div>
                        {% for task in d_task['tasks'] %}
                            <div class="row">
                                <div class="input-field col s8">
                                    <p name="task_content">{{ loop.index }}: {{task}}</p>
                                </div>
                                <div class="input-field col s4">
                                    <p>
                                        <label>
                                            <input name="task_{{ loop.index }}" value="yes" type="radio" class="radio-choice">
                                            <span>Yes</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input name="task_{{ loop.index }}" value="no" type="radio"  class="radio-choice">
                                            <span>No</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="row">
                        <input type="text" name="obs">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="datetime-local" value="" id="timestamp_tf" name="timestamp_tf">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                        </div>
                    </div>
            </div>
        </form>
    {% else %}
        <div class="row">
            <div class="col s12">
                <h5 class="brand-logo col s12">
                    No Commencing Shift Procedure found.
                </h5>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block javascript %}

<script>
    $('#tasks').toggleClass('current');

    $(document).ready(function () {
        var ts = new Date();
        var timestamp_tf = ts.toISOString().slice(0, 16);
        $('#timestamp_tf').val(timestamp_tf);
    });
</script>
{% endblock %}