{% extends "base.html" %}

{% block title %}Edit user - Restaurant Manager{% endblock %}

{% block content %}

<div class="container col s12">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="flash_msg" class="row">
                    <div class="col s12">
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <i class="fas fa-exclamation-triangle"></i>
                                <span class="title">Message:</span>
                                <p>
                                    {{ message }}
                                </p>
                                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col s12">
            <h6 class="brand-logo col s12" style="text-align: center;">
                Edit <strong>{{ user.fname.title() }} {{ user.lname.title() }}</strong> details
            </h6>
        </div>
    </div>
    <form class="col s12" method="POST" action="{{ url_for('edit_user', user_id=user['_id']) }}">
        <div class="row">
            <!-- roles -->
            <div class="input-field hoverable col s4">
                <i class="material-icons prefix">contacts</i>
                <select id="role" name="role" class="validate" required>
                    <!-- Employee may only edit himself -->
                    {% if session['role'] == 'employee' and session['user'] == user['un']   %}
                        <option value="{{ user['role'].title() }}" readonly>{{ user['role'].title() }}</option>
                    {% else %}
                        <option value="{{ user['role'].title() }}" readonly>{{ user['role'].title() }}</option>
                        {% for r in roles %}
                            {% if session['role'] == 'admin' %}
                                {% if user['role'] != r['role_name'] and r['role_name'] != 'employee' %}
                                    <option value="{{ r['role_name'].title() }}">{{ r['role_name'].title() }}</option>
                                {% endif %}
                            {% elif session['role'] == 'manager' %}
                                {% if user['role'] != r['role_name'] and r['role_name'] != 'admin' %}
                                    <option value="{{ r['role_name'].title() }}">{{ r['role_name'].title() }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
                <label for="role">Choose New Role</label>
            </div>
            <!-- company -->
            <div class="input-field hoverable col s4">
                <i class="material-icons prefix">contacts</i>
                {% if session['role'] == 'employee' or session['role'] == 'manager' %}
                    <input id="company" name="company" type="text" class="validate" value="{{ restaurant.title() }}" readonly>
                {% elif session['role'] == 'admin'%}
                    <input id="company" name="company" type="text" class="validate" value="{{ restaurant.title() }}" autocomplete="on" required>
                {% endif %}
                <label for="company">Company</label>
            </div>
            <!-- username -->
            <div class="input-field hoverable col s4">
                <i class="material-icons prefix">account_circle</i>
                {% if session['role'] == 'employee' %}
                    <input id="un" name="un" type="text" class="validate" value="{{ user['un'].title() }}" readonly>
                {% elif session['role'] == 'admin' or session['role'] == 'manager' %}
                    {% if session['user'] == user['un'] %}
                        <input id="un" name="un" type="text" class="validate" value="{{ user['un'].title() }}" readonly>
                    {% else %}
                        <input id="un" name="un" type="text" class="validate"  value="{{ user['un'].title() }}" autocomplete="on" required>
                    {% endif %}
                {% endif %}
                <label for="un">Username</label>
            </div>
        </div>
        <div class="row">
            <!-- first name -->
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">contacts</i>
                <input id="first_name" name="first_name" type="text" class="validate" value="{{ user['fname'].title() }}" autocomplete="on" required>
                <label for="first_name">First Name</label>
            </div>
            <!-- last name -->
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">contacts</i>
                <input id="last_name" name="last_name" type="text" class="validate" value="{{ user['lname'].title() }}" autocomplete="on" required>
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <!-- email -->
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">email</i>
                <input id="email1" name="email1" type="email" class="validate" value="{{ user['email'] }}" autocomplete="on" required>
                <label for="email1" data-error="Please use a valid email"
                    data-success="That is a valid e-mail address">E-mail</label>
            </div>
            <!-- confirm email -->
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">email</i>
                <input id="email2" name="email2" type="email" class="validate" value="{{ user['email'] }}" autocomplete="on" required>
                <label for="email2" data-error="Please use a valid email"
                    data-success="That is a valid e-mail address">Confirm E-mail</label>
            </div>
        </div>
        <div class="row">
            <!-- password -->
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password1" name="password1" type="password" class="validate">
                <label for="password1">Password</label>
            </div>
            <!-- confirm password -->
            <div class="input-field hoverable col s6">
                <i class="material-icons prefix">replay</i>
                <input id="password2" name="password2" type="password" class="validate">
                <label for="password2">Confirm Password</label>
            </div>
        </div>
        <div class="row">
            <!-- Submit/register button -->
            <div class="col s12 center-align">
                <a href="{{ url_for('users') }}" class="waves-effect waves-light btn left hoverable">
                    Cancel <i class="fa-solid fa-arrow-left left"></i>
                </a>
                <button type="submit" class="waves-effect waves-light btn right hoverable">
                    Update user <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='scripts/register_validation.js') }}"></script>
<script>
    $('#edit_user').toggleClass('current');
</script>
{% endblock %}