{% extends "base.html" %}
{% block meta %}
    404 Error page
{% endblock %}
{% block title %}404 Error - eManager{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div id="flash_msg" class="row">
                <div class="col s12">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="fas fa-exclamation-triangle"></i>
                            <span class="title">Message:</span>
                            <p>
                                {{ message }}
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



    <h1 style="text-align: center;">The page you are looking for is not available.</h1>
    <h4 style="text-align: center;">Using the navigation menu, please select an item to navigate to desired section.</h4>

{% endblock %}