{% extends "base.html" %}
{% block content %}

    <h1 style="text-align: center;">Can not display the page you're looking for because of an error.</h1>
    <table>
        <caption style="text-align: center; color: rgb(255, 0, 0);">Error description</caption>
        <thead>
            <tr>
                <th style="color: rgb(0, 0, 255);">AttributeError:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="color: rgb(255, 0, 0);">{{ error_message }}</td>
            </tr>
        </tbody>
        
    </table>

{% endblock %}