{% extends "base.html" %}

{% block meta %}
The index page of Restaurant Manager showcases our easy-to-use, streamlined interface for restaurant management. Explore
features like shift reports, inventory management, and employee scheduling today!
{% endblock %}
{% block title %}Home - eManager{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container" style="position: relative;">
  <div style="position: relative; z-index: 2;">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-1">Welcome!</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color: white;">This is the right solution for restaurant owners and managers to efficiently
            manage their daily
            operations. Our web application was developed with the goal of streamlining the workflow and making it
            more organized for your restaurant.</h5>
        </div>
        <div class="row center">
          <a href="{{ url_for('login') }}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Log In</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{ url_for('static', filename='images/bg-manager.jpg') }}" alt="Manager holding a tablet"></div>
</div>

<!-- <div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4 style="text-align: center;">Welcome to eManager</h4>
                <h6>This is the right solution for restaurant owners and managers to efficiently manage their daily
                    operations. Our web application was developed with the goal of streamlining the workflow and making it
                    more organized for your restaurant.</h6>

            </div>
        </div>
    </div>
</div> -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Our Story</h4>
        <p class="left-align light">At the heart of this project is a real-world need identified by a business owner who
          was seeking a tool to manage their restaurant's activity flow. Through collaborative brainstorming and idea
          sketching, we developed a robust yet uncomplicated application that serves the needs of both employees and
          managers alike.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Role-based access</h4>
        <p class="left-align light">Our application features a robust role-based access control system that enables
          various levels of user permissions.
          With different levels of access, users can perform actions ranging from basic tasks to more advanced actions:
        </p>
      </div>
    </div>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fas fa-shield-alt"></i></h2>
          <h5 class="center">System Adminstrator</h5>

          <p class="light">The System Administrator is the eManager web application owner. This role manages the other
            administrators and managers</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fas fa-briefcase"></i></h2>
          <h5 class="center">Business manager</h5>

          <p class="light">The restaurant Managers have intermediate access to manage various aspects of the
            restaurant's workflow, like creating new managers or employees for his company or view submited reports.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fas fa-user"></i></h2>
          <h5 class="center">Employee</h5>

          <p class="light">Employees have basic access, which allows them to read relevant information and submit
            predefined forms of daily reports.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive User Interface</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{ url_for('static', filename='images/bg-devices.jpg') }}"
      alt="UI is responsive on any device, from small screen to large devices"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Responsive design</h4>
        <p class="left-align light">With responsive design, you can access our app anytime, anywhere, and enjoy its full
          functionality without compromising on usability. <br> Whether you're using a large desktop screen, a
          medium-sized tablet, or a small smartphone, our application automatically adjusts and optimizes its layout to
          fit your screen perfectly.</p>

      </div>
    </div>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fa-solid fa-display"></i></h2>
          <h5 class="center">Large displays</h5>

          <p class="light">Enjoy our web app's seamless experience on large screens, with optimized content and
            intuitive navigation.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fa-solid fa-tablet-screen-button"></i></h2>
          <h5 class="center">Medium displays</h5>

          <p class="light">Experience the fully responsive web app on laptops, tablets, and hybrid devices, tailored for
            medium-sized screens</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="fa-solid fa-mobile-screen"></i></h2>
          <h5 class="center">Small displays</h5>

          <p class="light">Our user-friendly web app is also accesible on smartphones and compact tablets, optimized for
            small screen sizes.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
        <div class="col s12">
            <h4 style="text-align: center;">Welcome to eManager</h4>
            <h6>This is the right solution for restaurant owners and managers to efficiently manage their daily
                operations. Our web application was developed with the goal of streamlining the workflow and making it
                more organized for your restaurant.</h6>

        </div>
    </div> -->
<!-- <div class="row">
        <div class="col s12">
            <div class="card blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title col s12">Our Story</span>
                    <p>At the heart of this project is a real-world need identified by a business owner who was seeking
                        a tool to manage their restaurant's activity flow. Through collaborative brainstorming and idea
                        sketching, we developed a robust yet uncomplicated application that serves the needs of both
                        employees and managers alike.</p>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title col s12">A look into our role-based access control system</span>
                    <p>Our application features a robust role-based access control system that enables various levels of
                        user permissions. </p>
                    <p> With different levels of access, users can perform actions ranging from basic tasks to more
                        advanced actions:</p>
                    <ol role="list" style="list-style: circle;">
                        <li>The system administrator is the eManager owner. </li>
                        <li>The restaurant Managers have intermediate access to manage various aspects of the
                            restaurant's workflow.</li>
                        <li>Employees have basic access, which allows them to read relevant information and submit
                            predefined forms.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title col s12">Web application</span>
                    <p>Our web application can be accessed easily from any smartphone, tablet, or laptop, making it
                        accessible to all employees. To access the dashboard, simply login to the application.</p>
                </div>
                {% if not session['user'] %}
                <div class="card-action">
                    <a href="{{ url_for('login') }}" title="Log In existing user">Log In</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div> -->

<!-- </div> -->

{% endblock %}

{% block javascript %}
<script>
  $('#home').toggleClass('current');
</script>
{% endblock %}