{% extends "base.html" %}

{% block title %}Login user - Restaurant Manager{% endblock %}

{% block content %}

<div class="container col s12">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div id="flash_msg" class="row">
            <div class="col s12">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <span class="title">Message:</span>
                        <p>
                            {{ message }}
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- [Materialize Register Page Sample base source code](https://codepen.io/HaldunA/pen/eJxRPG) -->
    <div class="row">
        <div class="col s12">
            <h3 class="brand-logo col s12">Welcome to eManager!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="col s12">If you're a new user and want to create an account as a manager, please contact your system administrator to create an account for you. The system administrator is responsible for adding new managers to the app.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="col s12">If you're an existing user, please enter your login details below to access your account.</p>
        </div>
    </div>
<form class="col s12" method="POST" action="{{ url_for('login') }}">
    <div class="row">
        <div class="row">
            <div class="input-field hoverable col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="un" name="un" type="text" class="validate" autocomplete="on" required>
                <label for="un">Username</label>
            </div>
            <div class="input-field hoverable col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light btn right hoverable">
                    Log In <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
</form>
<div class="row">
    <div class="col s12">
        <p class="col s12">If you're having trouble logging in, please contact your system administrator for assistance.</p>
    </div>
</div>

</div>
{% endblock %}


{% block javascript %}
<script>
    $('#login').toggleClass('current');
</script>
{% endblock %}