{% extends "base.html" %}
{% block meta %}
Privacy Policy page
{% endblock %}
{% block title %}Privacy Policy - eManager{% endblock %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <h1>Privacy Policy</h1>

      <p>This Privacy Policy governs the manner in which eManager collects, uses, maintains, and discloses information
        collected from users of our app.</p>

      <h2>1. Information Collection</h2>

      <p>We may collect personal identification information from users in various ways, including when they create an
        account, submit daily tasks, or interact with the app's features. The types of information we may collect
        include name, email address, company information, and submitted task data.</p>

      <h2>2. Information Usage</h2>

      <p>The information we collect from users may be used for the following purposes:</p>

      <ul>
        <li>To provide and personalize our app's services.</li>
        <li>To improve customer service and respond to user inquiries.</li>
        <li>To send periodic emails regarding app updates or other relevant information.</li>
        <li>To analyze app usage and gather insights for enhancing user experience.</li>
      </ul>

      <h2>3. Information Protection</h2>

      <p>We adopt appropriate data collection, storage, and processing practices and security measures to protect
        against unauthorized access, alteration, disclosure, or destruction of users' personal information.</p>

      <h2>4. Information Sharing</h2>

      <p>We do not sell, trade, or rent users' personal identification information to others. We may share generic
        aggregated demographic information not linked to any personal identification information regarding visitors and
        users with our business partners, trusted affiliates, and analytics providers for the purposes outlined above.
      </p>

      <h2>5. Third-Party Websites</h2>

      <p>Users may find advertising or other content in our app that links to third-party websites. We do not control
        the content or links that appear on these sites and are not responsible for the practices employed by websites
        linked to or from our app.</p>

      <h2>6. Changes to this Privacy Policy</h2>

      <p>eManager App has the discretion to update this Privacy Policy at any time. We encourage users to
        frequently check this page for any changes. You acknowledge and agree that it is your responsibility to review
        this Privacy Policy periodically and become aware of modifications.</p>

      <h2>7. Your Acceptance of these Terms</h2>

      <p>By using this app, you signify your acceptance of this Privacy Policy. If you do not agree to this Privacy
        Policy, please do not use our app.</p>

      <p>If you have any questions about this Privacy Policy, the practices of this app, or your dealings with this app,
        please contact us at admin@restaurant-manager.app</p>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
  $('#tos').toggleClass('current');
</script>
{% endblock %}