{% extends "base.html" %}

{% block title %}Procedures{% endblock %}

{% block content %}

{% if procedures %}
    <table>
        <caption>Procedures list</caption>
        <tr>
            <th>procedures.name</th>
        </tr>
        {% for proc in procedures %}
            <tr>
                <td>{{ proc.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
    
    <h3>Health and safety at work</h3>
    <h5>Outlines employers’ health and safety obligations in the UK</h5>
    <p>The purpose of health and safety law is to ensure a safe working environment for employees. In the UK, this requires employers to meet health and safety obligations, covered by a vast range of legislation.</p>
    <h3>What is health and safety at work?</h3>
    <p>Health and safety at work encompasses a wide range of duties and responsibilities aimed at maintaining a safe working environment for employees. There are many relevant pieces of legislation and case law.</p>
    <h3>The UK law on health and safety at work</h3>
    <p>

        Under ‘common law’, all employers have a duty of care which is an obligation to protect their employees. A term is implied into all employment contracts requiring employers to take care of their employees’ health and safety. For example, employers must:
            <ul>
                <li>Provide a safe place of work.</li>
                <li>Provide a safe system of work.</li>
                <li>Provide adequate plant and equipment.</li>
                <li>Recruit competent and safety conscious staff.</li>
            </ul>
        
        If an employer fails to take reasonable care in any of these areas, an employee may be able to make a number of claims, including resigning and claiming constructive unfair dismissal and personal injury. 
        
        Employees, too, have responsibilities and should work with their employer to develop a safe place of work.
        Main UK legislation
        
        All employers have legal responsibility under the Health and Safety at Work Act 1974 and the Management of Health and Safety at Work Regulations 1999 to ensure the health, safety and welfare at work of their employees. This is understood to include minimising the risk of work-related mental health issues as well as injury.
        
        The Health and Safety at Work Act 1974 (HSWA) covers all workplaces, and says that an employer must do everything reasonably practicable to provide a safe and healthy workplace. The HSWA is supplemented by many statutes, regulations, codes of practice and guidance.
        
        The Management of Health and Safety at Work Regulations 1999 set out what employers are required to do to manage health and safety under HSWA. An employer must assess whether it has taken sufficient precautions to prevent damage and injury. 
        
        The Working Time Regulations 1998 are also an important piece of health and safety legislation. Our working hours and time off work factsheet gives more information, and CIPD members can find more detail in our Working Time Regulations law Q&As.
        
        The Corporate Manslaughter and Corporate Homicide Act 2007 allows a company to be convicted if it’s proved there was a gross breach of an organisation’s duty of care to those who died by its senior management. 
        
        Guidance on health and safety issues and Approved Codes of Practice (ACOPs) are published by Health and Safety Executive (HSE). Following the guidance is not compulsory but is strongly advised.
        
        A list of relevant legislation, as well as guidance, is on the HSE website. Our Brexit hub has more on what the implications of leaving the EU mean for UK employment law.
        </p>
        <h3>UK employers’ health and safety obligations</h3>
        <p>

            In the UK, as a minimum, employers should:
            
                Publish a health and safety policy if they employ more than five people.
                Take out and maintain a compulsory insurance policy, known as Employers' Liability Insurance, which covers employees against accidents and ill health.
                Arrange for the appointment of health and safety representatives.
                Establish a health and safety committee if requested by a recognised trade union.
                Appoint a competent person to evaluate risks and hazards.
                Arrange periodic risk assessments.
                Consult with employee health and safety representatives.
                Inform staff of risks and steps taken to protect them.
                Provide adequate safety training to address risks, as appropriate.
                Comply with the updated provisions concerning health and safety posters and leaflets.
                Monitor and improve safety arrangements.
                Adapt work to the individual especially with respect to the design of workplaces.
                Establish procedures to be followed in the event of serious and imminent danger to persons working in the organisation.
                Provide comprehensible and relevant health and safety information.
            
            An international standard for Occupational Health and Safety (ISO 45001) aims to help all organisations improve employee safety and health.
            
            Our other factsheets on wellbeing at work, occupational health, mental health and stress cover those specific areas.
            Producing a policy
            
            Under the HSWA, all employers with more than five employees must have a written health and safety policy. It should:
            
                Demonstrate a commitment to managing health and safety.
                Be workable.
                Contain a general statement of intent to provide a safe and healthy working environment.
                Be easily accessible and communicated to all employees.
                Give details of health and safety responsibilities and name key individuals.
                Cover the systems and procedures in place.
                Refer to other documents where appropriate.
                Cover risk assessments.
                Include arrangements for employee consultation, maintaining equipment, safe handling of substances.
                Explain arrangements for training, supervision, accidents, first aid and emergencies.
                Address stress, and alcohol and drug misuse.
            
            Policies should be produced after consultation with employees. The HSE provides further guidance on writing a health and safety policy.
            Employers’ duties at a place of work
            
            Key examples of the employer’s duties with respect to a place of work include:
            
                Under section 2 of HSWA, employers should provide systems of work and a working environment which are, as far as is reasonably practicable, safe and without risk to health. 
            
                All organisations must take precautionary measures to control fire risks, provide fire escape routes and training, and carry out fire safety risk assessments; those with five or more employees have additional record keeping responsibilities.
            
                Under smoke-free legislation, display ‘no smoking’ signs in all enclosed workplaces and shared vehicles.
            
                The Workplace (Health, Safety and Welfare) Regulations 1992 cover, for example:
            
                    Maintaining the workplace, equipment, devices and systems.
                    Providing ventilation by ensuring a sufficient quantity of fresh and purified air.
                    Maintaining a reasonable temperature, and the provision of thermometers.
                    Ensuring suitable, sufficient and natural light so far as is reasonably practicable.
            
            Inspectors from the local authority's Environmental Health Department, or the HSE, are responsible for enforcing health and safety law, and organisations can be prosecuted for breaches. All workplaces must be registered with either of these two bodies. 
            Risk assessment
            
            Every employer must regularly undertake risk assessments. See HSE guidance. Risk assessments must include, for example:
            
                Measures needed to comply with the health and safety fire precautions.
                Risks to young people, taking immaturity and other factors into account.
                Risks to new and expectant mothers
                Stress risk assessment - The HSE advises that employers have a legal duty to protect employees from stress at work by carrying out a stress risk assessment and acting on it. It provides a risk assessment toolkit as well as a Talking Toolkit. Taking a risk-based approach will help organisations to prevent, and mitigate, the risks to people’s mental health and support early interventions to help stop problems from escalating.
            
            Following any risk assessment, employers must, for example:
            
                Record the significant findings of their risk assessments.
                Make arrangements to implement any health and safety measures identified as necessary by the risk assessment.
                Provide clear information and training to employees.
            
            Accidents and disease at work
            
            The Reporting of Injuries, Diseases and Dangerous Occurrences Regulations 2013 (known as RIDDOR) require employers to report any of the following to the HSE or the local council immediately:
            
                Fatal accidents.
                Major injury or conditions which require medical treatment.
                Dangerous occurrences.
            
            Other matters should be reported quickly, by telephone preferably, followed by a written report within ten days. These are:
            
                Accidents that prevent a worker from doing their normal work for more than seven days.
                Certain work-related diseases (poisoning, lung diseases, infections and other conditions must be reported when linked to specified types of work).
                Certain gas incidents.
            
            Employers are legally obliged to provide first-aiders and inform all employees of the arrangements for getting first aid. Treatment of injured workers must be addressed without delay by an appointed first-aider.
            
            An employer must record all workplace injuries, diseases, dangerous occurrences, or certain near accidents in an accident book. Employees must also report any accidents or illnesses caused by work and record the details in the accident book.
            </p>


{% endblock %}

{% block javascript %}
<script>
    $('#procedures').toggleClass('current');
</script>
{% endblock %}