{% extends "base.html" %}

{% block title %}Procedures{% endblock %}

{% block content %}

{% if procedures %}
    <table>
        <caption>Procedures list</caption>
        <tr>
            <th>procedures.name</th>
        </tr>
        {% for proc in procedures %}
            <tr>
                <td>{{ proc.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
    $('#procedures').toggleClass('current');
</script>
{% endblock %}