{% extends "base.html" %}

{% block title %}Daily Tasks{% endblock %}

{% block content %}

{% if tasks %}
    
            {% for task in tasks %}
                <ul class="collection">
                    <li class="collection-item avatar">
                        <a class="btn-floating btn-large waves-effect waves-light orange">
                            {% if task.t_type == 'begin' %}
                                <i class="fa-solid fa-play"></i>
                            {% elif task.t_type == 'finish' %}
                                <i class="fa-solid fa-stop"></i>
                            {% elif task.t_type == 'temperatures' %}
                                <i class="fa-solid fa-temperature-half"></i>
                            {% elif task.t_type == 'stock_reception' %}
                                <i class="fa-solid fa-truck-ramp-box"></i>
                            {% elif task.t_type == 'inventory_inspection' %}
                                <i class="fa-solid fa-warehouse"></i>
                            {% elif task.t_type == 'cleaning' %}
                                <i class="fa-solid fa-hand-sparkles"></i>
                            {% endif %}
                        </a><br>
                            <span class="title"><strong>{{ task.t_name }}</strong></span>
                            <p><br>{{ task.t_description }}<br></p>


                            {% if task.t_type == 'begin' %}
                                <a href="#!" ><span> View reports </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'finish' %}
                            <a href="#!" ><span> View reports </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'temperatures' %}
                                <a href="{{ url_for('temps') }}"><span> View reports </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'stock_reception' %}
                                <a href="#!" ><span> View reports </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'inventory_inspection' %}
                                <a href="#!" ><span> View reports </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'cleaning' %}
                                <a href="#!" ><span> View reports </span><i class="fa-solid fa-list-check"></i>
                            {% endif %}

                            {% if task.t_type == 'begin' %}
                                <a href="#!" class="secondary-content"><span class="hide_it"> Add new </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'finish' %}
                                <a href="#!" class="secondary-content"><span class="hide_it"> Add new </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'temperatures' %}
                                <a href="{{ url_for('temps') }}" class="secondary-content"><span class="hide_it"> Add new </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'stock_reception' %}
                                <a href="#!" class="secondary-content"><span class="hide_it"> Add new </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'inventory_inspection' %}
                                <a href="#!" class="secondary-content"><span class="hide_it"> Add new </span><i class="fa-solid fa-list-check"></i>
                            {% elif task.t_type == 'cleaning' %}
                                <a href="#!" class="secondary-content"><span class="hide_it"> Add new </span><i class="fa-solid fa-list-check"></i>
                            {% endif %}
                        </a>
                    </li>
                </ul>

            {% endfor %}
{% endif %}

{% endblock %}

{% block javascript %}
<script>
    $('#tasks').toggleClass('current');
</script>
{% endblock %}