{% extends "base.html" %}

{% block title %}Users - Restaurant Manager{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
      <div class="row">
        <div class="col s12">
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="fas fa-exclamation-triangle"></i>
                <span class="title">Message:</span>
                <p>
                    {{ message }}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
    </div>
      {% endfor %}
   {% endif %}
{% endwith %}

{% if users %}
<table>
    <caption>Users list</caption>
    <tr>
        <th>user.role</th>
        <th>user.un</th>
        <th>user.fname</th>
        <th>user.lname</th>
        <th>user.email</th>
        <th>user.company</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.role }}</td>
        <td>{{ user.un }}</td>
        <td>{{ user.fname }}</td>
        <td>{{ user.lname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company }}</td>
    </tr>
    {% endfor %}

</table>
{% endif %}
{% for doc in document%}
print(doc)

{% endfor %}

{% endblock %}